input.search-suggest {}
div.search-popup{border: 1px solid #777;background: #FFFFFF;padding: 6px;margin: 0px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;}
div.search-popup-row, div.search-popup-row-active{position: relative; padding: 6px 4px;margin: 0px;cursor: hand;cursor: pointer; font-size:14px;}
div.search-popup-row{background:#FFFFFF;}
div.search-popup-row-active{background:#EEEEEE;}
div.search-popup-el-name, div.search-popup-el-cnt{position: relative; margin:0px;padding:0px;text-align:left;}
div.search-popup-el-cnt{text-align:right; float:right;}