.contant_data_bottom {
    padding-top: 20px;
}
.footer_column_block {
    display: inline-block;
}
.footer_header {
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
    text-transform: uppercase;
}
.footer_column_block .footer__list, .footer__list--social {
    padding-left: 0;
}
.footer_column_block .footer__nav-item {
    padding-top: 5px;
}
.footerCP .footer__contacts-box img{
    width: 100%;
}
.footerCP .imgCP{
    padding-top: 15px;
}
.footerCP span{
    color: #ffffff;
}
.footerCP span,.footerCP a {
    font-size: 12px;
}
.timeToDevelop {
    padding: 20px 0;
    font-size: 32px;
    text-align: center;
    color: red;
    text-transform: uppercase;
}
#panel {
    position: fixed !important;
    width: 100% !important;
    bottom: 0;
    z-index: 9999;
}
.circleUp {
    display: none;
    background-color: #7a7a7a;
    opacity: 0.4;
    padding: 20px 25px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 20px;
    cursor: pointer;
}
.circleUp i{
    color: #1f1f1f;
    font-size: 32px;
    font-weight: 700;
}
.slider__text {
    color: #105378;
    font-size: 24px;
}
.slider__title {
    color: #105378;
    font-size: 56px;
}
.nav__link.blue {
    text-decoration: underline;
    color: #105378;
}
.mobile-menu .mobile-menu__btn[href="#mobileMenuAuth"] {
    line-height: 50px;
}
.mobile-menu .mobile-menu__btn[href="#mobileMenuAuth"] i{
    font-size: 1.5em;
}
.sale-personal-section-index-block.bx-theme-red {
    background: none;
    background-color: #105378;
}
.catalog__filter .bx_filter .bx_filter_search_button {
    background: #105378;
    border-color: #105378;
}
.catalog__filter .bx_filter .bx_filter_search_button:hover {
    background: #ffffff;
    border: 1px solid #105378;
    margin-right: 5px;
    color: #105378!important;
}
.catalog-sort .catalogNew.active {
    color: #26a1bb;
    font-weight: bold;
}
.catalog-sort .catalogHit.active {
    color: #9ED146;
    font-weight: bold;
}
.catalog-sort .catalogSale.active {
    color: #e2574c;
    font-weight: bold;
}
.catalog-sort .clearCatalogSpecial {
    font-weight: bold;
}
@media (max-width: 991px) {
    .footer__row {
        padding: 45px 15px;
    }
    .footer__nav .footer_column_block:first-child {
        margin-right: 15px;
    }
    .footer__contacts-box .footer_header {
        text-align: center;
    }
    .footer__contacts-box {
        font-size: 1.3em;
    }
    .footer__contacts-box span {
        font-size: 1em;
        text-align: center;
    }
    .footerCP .footer__contacts-box img {
        width: 100%;
    }
    .footer__list.footer__list--social {
        margin-top: 10px;
    }
    .footer__list-item .footer__social-icon {
        width: 40px;
        font-size: 30px;
    }
    .catalog__filter-title {
        display: none;
    }
    .filter-box-left {
        display: none;
    }
    .content-wrap .filter-box {
        margin-bottom: 5px;
    }
    .catalog-toggle-filter {
        background-color: #105378;
        border-color: #105378;
    }
    .catalog-toggle-filter:hover {
        color: #105378;
    }
    .catalog-sort .separator {
        display: none;
    }
}
@media (max-width: 568px) {
    .header__buttons {
        text-align: right;
    }
}